svg {
	margin-right: 5px !important
}

.card-list {
	padding: 0px !important;
	margin: 0px !important;
	border-radius: 1rem !important
}

.card-list .card-header {
	border-radius: 1rem 1rem 0rem 0rem !important
}

.card-list .card-body {
	padding: 0px !important;
}

.card-list .card-body table {
	margin: 0px !important;
}

.card-list .card-body table th {
	border: 0px !important;
}

.card-list .card-footer {
	border-radius: 0rem 0rem 1rem 1rem !important
}

.success {
	color: #4dbd74 !important
}

.nav-link:hover .success {
	color: white !important
}

.nav-link.active .success {
	color: #20a8d8 !important
}

.nav-link.active:hover .success {
	color: white !important
}

.warning {
	color: #ffc107 !important
}

.nav-link:hover .warning {
	color: white !important
}

.nav-link.active .warning {
	color: #20a8d8 !important
}

.nav-link.active:hover .warning {
	color: white !important
}

.danger {
	color: #f86c6b !important
}

.nav-link:hover .danger {
	color: white !important
}

.nav-link.active .danger {
	color: #20a8d8 !important
}

.nav-link.active:hover .danger {
	color: white !important
}