.app-main,
.app-container {
	background-color: #BFCFD4
}

.app-card {
	border-radius: 1rem !important
}

.app-card-body,
.app-card-table {
	padding: 0px !important;
	margin: 0px !important;
}

.app-card-table thead th {
	border-top: none !important;
}

.app-card-header {
	border-radius: 1rem 1rem 0rem 0rem !important
}

.app-card-footer {
	border-radius: 0rem 0rem 1rem 1rem !important
}

.btn-label {
	padding-left: 5px !important
}

.success {
	color: #4dbd74 !important
}

.nav-link:hover .success {
	color: white !important
}

.nav-link.active .success {
	color: #20a8d8 !important
}

.nav-link.active:hover .success {
	color: white !important
}

.warning {
	color: #ffc107 !important
}

.nav-link:hover .warning {
	color: white !important
}

.nav-link.active .warning {
	color: #20a8d8 !important
}

.nav-link.active:hover .warning {
	color: white !important
}

.danger {
	color: #f86c6b !important
}

.nav-link:hover .danger {
	color: white !important
}

.nav-link.active .danger {
	color: #20a8d8 !important
}

.nav-link.active:hover .danger {
	color: white !important
}